/ add navigation links to this file
li= link_to 'Users', users_path
li= link_to 'Friends', friends_path
li= link_to 'Requests (Incoming)', friendship_requests_path
li= link_to 'Requests (Outgoing)', friendship_requests_path